name: test

on:
  # Run daily at midnight
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [ "main" ]
    paths-ignore: [ '*.md', '*.asciidoc' ]
  pull_request:
    branches: [ "main" ]
    paths-ignore: [ '*.md', '*.asciidoc' ]

permissions:
  contents: read

jobs:

  pre-commit:
    if: github.event_name != 'schedule'
    name: Run pre-commit
    runs-on: ubuntu-latest
    steps:
    - uses: elastic/apm-pipeline-library/.github/actions/pre-commit@current

  lint:
    if: github.event_name != 'schedule'
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - run: .ci/scripts/lint.sh

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        python: [ '3.6', '3.7', '3.8', '3.9', '3.10' ]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python }}
    - run: .ci/scripts/test.sh ${{ matrix.python }}
